body {margin: 0;}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

/* //////////////// */
#wrap {
    width: 1280px;
    margin: 0 auto;
 
}

/* 헤더 */
.top_icon_box {
    width: 100%;
    height: 50px;
 
    display: flex;
    justify-content: space-between;
 
}
.top_box {
    height: 100%;

    display: flex;
    align-items: center;
    gap: 20px;
}
.top_icon {
    width: 32px;
    height: 32px;

    background-image: url(../img/naver.png);
    background-size: 452px 436px;
}
.top_icon a {
    display: block;
    width: 100%;
    height: 100%; 
    font-size: 0;
}
.top_ham_box {
    background-position: -310px -165px;
}
.top_pay_box {
    background-position: -248px -260px;
}
.top_talk_box {
    background-position: -98px -316px;
}
.top_notice_box {
    background-position: -310px -232px;
}
.top_shopping_box {
    background-position: -32px -316px;
}

/* 검색바 */
.search_box {
    width: 710px;
    height: 60px;
    margin: 0 auto;
    border: 1px solid #03c75a;
    border-radius: 30px;

    display: flex;
}
.search_item {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}
.logo {
    padding: 0 10px 0 15px;
}
.search_icon {
    width: 24px;
    height: 24px;
}
.keyword {
    width: calc(100% - (60px * 2));
    height: 100%;
    border: none;
    outline: none;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
}
.keyword::placeholder {
    color: #b6b6b6;
    font-weight: 100;
}
.btn_submit {
    padding: 0 15px 0 10px;
}


/* 네비게이션 바 */
.nav_box {
    width: 650px;
    margin: 10px auto 0;
    display: flex;
}
.nav_item {
    width: calc(100% / 11); 
    cursor: pointer;
}
.nav_item_thumb {    
    width: 44px;
    height: 44px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 0px #696969;
    margin: 0 auto 5px;

    background-image: url(../img/naver.png);
    background-size: 452px 436px;
    background-repeat: no-repeat;

    background-position: 2px -216px;
}
.nav_item:hover .nav_item_thumb { 
    box-shadow: 0px 2px 5px -1px #696969;
}

.nav_icon_mail {
    background-position: -202px -216px
}
.nav_icon_cafe {
    background-position: -39px -216px
}
.nav_icon_blog {
    background-position: 2px -217px;
} 
.nav_icon_store {
    background-position: -38px -258px;
    
}
.nav_icon_show_more {
    background-position: -268px -120px
}



.nav_item_title {
    text-align: center;
    font-size: 14px;
}


/************************/
/* 본문 */
main {
    display: flex;
    gap: 30px;
    /* justify-content: space-between; */

    padding-top: 20px;
}
.sec_L {
    /* width: 70%; */
    width: 65%;
    /* height: 800px; */
    /* background: yellowgreen;     */
}

/* main > div > * {
    border: 1px solid #b6b6b6;
    box-sizing: border-box;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 10px;
}
.sec_R > * {
    border: 1px solid #b6b6b6;
    box-sizing: border-box;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 10px;
} */
/* .sec_L > div,
.sec_R > div {
    border: 1px solid #b6b6b6;
    box-sizing: border-box;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 10px;
} */

.sec_item {
    border: 1px solid #b6b6b6;
    box-sizing: border-box;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 10px;
}

.sec_L .adv {
    width: 100%;
    height: 135px;    
    
}
.sec_L .news {
    width: 100%;
    /* height: 300px;     */
    padding: 0 20px;
}
.news_title {
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #181818;
    line-height: 50px;
}
.news_shotcut {
    height: 50px;
    background: #eaeaea;
}
.news_media {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;

    background-color: orange;
}
.news_media > li {
    width: calc(100% / 6);
    height: 60px;
    /* line-height: 60px; */
    text-align: center;
    position: relative;

    border: 1px solid;
    box-sizing: border-box;
}
.news_media_title {
    line-height: 60px;
}
.news_media_link {
    background-color: #3469ff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
/* 클래스가 news_media_link 인 요소 안의 a태그에 마우스 올리면 밑줄 글자두껍게 하기 */
.news_media_link > a:hover {
    text-decoration: underline;
    font-weight: 900;
    color: #fff;
}
.v_line {
    width: 1px;
    height: 10px;
    background-color: #ddd;
    margin: 0 7px;
}
.news_media_link:hover {
    opacity: 1;
}


.sec_L .shopping {
    width: 100%;
    height: 700px;    
    
}





.sec_R {
    width: calc(35% - 30px);
}
.sec_R .login {
    width: 100%;
    height: 170px;
}
.sec_R .adv1 {
    width: 100%;
    height: 250px;
}

.sec_R .adv2 {
    width: 100%;
    height: 100px;
}

.sec_R .adv3 {
    width: 100%;
    height: 200px;
}




/************************/
/* 푸터 */