.content_box {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

    height: 100%;
    position: relative;
}

/* 레이어 팝업 */
.layer_popup {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px;

    position: fixed;
    left: 100px;
    top: 200px;
    z-index: 9999999999;
}
.big_img_box {
    width: 100%;
    height: 250px;
    position: relative; 
    overflow: hidden;
} 
.big_img_box > div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;

    transition: all 0s;
    transition-delay: 0.5s;

}
input[name="big_img"]:checked + div {
    left: 0;
    z-index: 99;
    transition: all 0.5s;
    transition-delay: 0s;
}

.img_item1 {
    background: url(../img//반응형/iDeco/popup1.png) no-repeat center / cover;
}
.img_item2 {
    background: url(../img//반응형/iDeco/popup2.png) no-repeat center / cover;
}
.img_item3 {
    background: url(../img//반응형/iDeco/popup3.png) no-repeat center / cover;
}
.img_item4 {
    background: url(../img//반응형/iDeco/popup4.png) no-repeat center / cover;
}
.img_item5 {
    background: url(../img//반응형/iDeco/popup5.png) no-repeat center / cover;
}
.img_item6 {
    background: url(../img//반응형/iDeco/popup6.png) no-repeat center / cover;
}
#btn_popup_close {
    color: #fff;
    background-color: #000;
    padding: 7px 10px;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
}


input[name="big_img"],
#layer_popup_close,
#layer_popup_close:checked + .layer_popup {
    display: none;
}


.btn_img_box {
    width: 100%;
    /* height: 200px; */
    margin-top: 5px;
    
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.btn_img_box > div {
    width: calc((100% - (5px * 2)) / 3);
    height: 90px;
    border: 1px solid #ddd;
    /* float: left; */
    box-sizing: border-box;
}
.btn_img_box label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


/* top_banner */
.top_banner {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #414247;
    color: #fff;
} 
.lbl_top_banner_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
}

#btn_top_banner_close,
#btn_top_banner_close:checked + .top_banner {
    display: none;
}

/* ******************************* */
/* 헤더 */
.header {

}
.h_top {
    width: 100%;
    height: 30px;
}
.h_top ul {
    height: 100%;
    font-size: 13px;

    display: flex;
    align-items: center;
    justify-content: end;
}
.h_top ul > li a {
    padding: 0 10px;
    font-weight: 900;
}

.h_top ul > li a:hover {
    text-decoration: underline;
}



.h_bot {
    width: 100%;
    height: 100px;
}

.h_bot_flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 160px;
    height: 100%;

    background: url(../img/반응형/iDeco/logo.png) no-repeat left;
}
.logo a {
    display: block;
    width: 100%;
    height: 100%; 
}


.h_menu {
    display: flex;
}
.h_menu > li {
    height: 100%;
    position: relative;
    padding: 0px 30px;
    text-align: center;
    cursor: pointer;
    height: 21px;
    text-align: center;
    overflow: hidden;
}
.h_menu > li > div {
    height: 100%;
    transition: all 0.5s;
}
.h_menu > li > div:nth-child(2) {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
}
.h_menu > li:hover > div {
    transform: translateY(-100%);
}
.show_at_sm {
    display: none;
}
.show_at_lg_flex {
    display: flex;
}


/* 햄버거 */
#hamchk { display: none;}
label[for="hamchk"] {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ddd;
    padding: 17px 13px;
    box-sizing: border-box;
}
.line {
    width: 100%;
    height: 3px;
    background-color: #3d3c3f;
    border-radius: 3px;
}
.line:nth-child(2) {
    margin: 5px 0;
}
.side_menu {
    width: 300px;
    height: 85vh;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px 0 0 0;
    /* box-shadow: 0 0 1px 0 #ddd; */
    border: 1px solid #ddd;
    box-sizing: border-box;
    overflow: hidden;

    background-color: #ffffff;
    position: absolute;
    /* top: 0; */
    right: -300px;
    transform: translateX(0%);
    z-index: 9;

    transition: all 0.5s;
}
.side_menu .h_menu {
    flex-direction: column;
}

.side_menu .h_menu > li {
    margin: 10px 0; 
}
#hamchk:checked ~ .side_menu {
    /* right: -300px; */
    transform: translateX(-100%);
}



/* ************************* */
.main {
    background: #f7f7f7;
}
/* 메인배너 */
.main_banner {
    width: 100%;
    /* height: ?; */
    position: relative; 
    overflow: hidden;
}

/* 배너 img 태그 사용한거 */
.banner {
    width: 100%; 
    
    position: absolute;
    top: 0;
    /* left: 0; */
    left: 100%;
}
.banner1 {
    position: relative;
    left: 0;
    top: 0;
}
.banner > img {
    width: 100%;
}
.main_banner { display: none;}



/* 배너 배경이미지 사용한거 */
.main_banner2 {
    position: relative;
    padding-bottom: 39%;
    overflow: hidden;
}
.bg_banner {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 100%;
    top: 0;
}
.bg_banner1 {
    left: 0%;
    background: url(../img/반응형/iDeco/main_banner1.jpg) no-repeat center / contain;
}
.bg_banner2 {
    background: url(../img/반응형/iDeco/main_banner2.jpg) no-repeat center / contain;
}
.bg_banner3 {
    background: url(../img/반응형/iDeco/main_banner3.jpg) no-repeat center / contain;
}



/* 인기상품 */
.sec {
    padding: 100px 0 150px;
}
.sec_header {
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec_title {
    font-size: 28px;
}
.category_box > label {
    /* border-bottom: 3px solid transparent; */
    font-size: 15px;
    padding: 10px 15px;
}

.category_box > label:hover {
    border-bottom: 3px solid #ddd;
}
#rd_cate1:checked ~ .sec_header label[for="rd_cate1"],
#rd_cate2:checked ~ .sec_header label[for="rd_cate2"] {
    border-bottom: 3px solid #222;
}


.sec_body { 
    margin-top: 50px; 
    font-size: 0;
}

.tab,
input[name="rd_cate"] {
    display: none;
}
#rd_cate1:checked ~ .sec_body > .tab1, #rd_cate2:checked ~ .sec_body > .tab2 {
    display: block;
}

.long_banner {
    width: 100%;
}
.tab_container {
    width: 100%;
    overflow: auto;
}
.tab_container::-webkit-scrollbar {
    height: 7px;
}
.tab_container::-webkit-scrollbar-track {
    background-color: #eaeaea;
}
.tab_container::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 5px;
}
.tab_container::-webkit-scrollbar-button {
    display: none;
}



.tab_box {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: #fff;

    width: 100%;
    min-width: 1300px;
}
.tab_box > li {
    width: calc((100% - (5px* 3)) / 4);
}
.tab_img {    
    position: relative; 
    overflow: hidden;
}
.tab_img img {
    width: 100%;
    transition: all 0.5s;
}
.tab_img:hover img {
    transform: scale(1.2);
}

.sale_percent {
    position: absolute;
    right: 0;
    top: 0;
    background: #000;
    color: #fff;
    width: 40px;
    height: 40px;

    text-align: center;
    line-height: 40px;
    font-size: 14px;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.5s;
}
.tab_img:hover .sale_percent {
    transform: translateY(0%);
    opacity: 1;
}


.footer {
    width: 100%;
    height: 400px;
    background-color: #333;
}


@media screen and (max-width: 768px) {
    
    .show_at_sm {
        display: block;
    }
    .show_at_lg_flex {
        display: none;
    }

    .tab_box { 
        min-width: auto;
    }
    .tab_box > li {
        width: calc((100% - (5px* 1)) / 2);
    }

}

@media screen and (max-width: 600px) {
    .sec_title {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .sec {
        padding: 70px 0;
    }
    .sec_header {
        height: auto;
        flex-direction: column;
        gap: 10px;
    }
    .sec_title {
        font-size: 28px;
    }

    .layer_popup {
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
    }
}